@media only screen and (min-width: 770px) {
    
    }


/*--------------------------
--------- MAX 768px --------
--------------------------*/
@media only screen and (max-width: 768px){
	.navbar-header {
		height: 80px;
	}

	.navbar-inverse .navbar-toggle {
		position: relative;
		top: 28px;
	}

	.navbar-collapse {
		max-height: 360px;
	}

	.header-logo {
		position: relative;
		top: -5px;
	}

	.contact-address { margin-top: 40px; }
	
}